
/* Part 1 Map */
.legendtitletext, .legendtext, .ycbcoloraxistitle, .ycbcoloraxistick text {
    fill: white !important;
    font-family: 'Poppins', sans-serif !important;
}

.main-svg, .bg {
    background: none !important;
    fill: none !important;
}

.mapRadioButton {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.mapRadioButton label {
    margin: 10px;
}

.mapRadioButton label input {
    margin-right: 10px;
}

.social_icon {
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;
    width: 20px;
}
